- if @list.empty?
  This list is still empty. Start by adding items.
- elsif @list.done?
  This list has been completed.
- else
  #{@list.count_done_items} items done,
  #{@list.count_todo_items} still to do.
