!!!
%html

  %head
    %title Theodor
    %link(rel="stylesheet" href="/stylesheets/main.css")
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans")
    %script(type="text/javascript" src="/javascripts/jquery-3.2.1.js")
    %script(type="text/javascript" src="/javascripts/theodor.js")

  %body

    .content
      = yield
