<!doctype html>
<html>
  <header>
    <title>Theodor</title>
    <meta charset="utf-8" />
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans" rel="stylesheet">
  </header>

  <body>
    <!-- header -->

    <!-- content -->
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
