<h1>Add new item</h1>

<hr>

<% if session[:error] %>
  <div class="flash error">
    <p><%= session.delete :error %></p>
  </div>
<% else %>
  <div class="flash">
    <p>
      <span class="unbold">Alright! Just enter a brief description of your item.</span>
    </p>
  </div>
<% end %>

<form action="/lists/<%= @list.path %>" method="post">
  <dl>
    <dd>
      <input name="item_name" placeholder="Item description" type="text" value="">
    </dd>
  </dl>
  <dl>
    <fieldset class="actions">
      <input type="submit" value="Create">
    </fieldset>
  </dl>
</form>

<hr>

<div class="major">
  <p><a href="/lists/<%= @list.path %>">< BACK TO LIST</a></p>
</div>
