<h1>Create new list</h1>

<hr>

<p>
Great! Just give your list a name and you'll be ready to go.
</p>

<form action="/lists" method="post">
  <dl>
    <dd>
      <input name="list_name" placeholder="List name" type="text" value="">
    </dd>
  </dl>
  <dl>
    <fieldset class="actions">
      <input type="submit" value="Create">
    </fieldset>
  </dl>
</form>

<hr>

<div class="major">
  <p><a href="/lists">< ALL LISTS</a></p>
</div>
